aiofiles==23.2.1
gradio==5.9.1
gradio_calendar==0.0.6
gradio_client==1.5.2
pandas
openai==1.58.1
dashscope
python-dotenv
aktools
akshare==1.16.51
selenium
# py_mini_racer
mini-racer
httplib2
google-api-python-client
langid
PyPDF2
tiktoken
scikit-learn
chromadb
loguru
plotly
pymysql
readability-lxml
tk

# Remove below as not require by the stock components
langchain==0.3.13
langchain-community
langchain-huggingface
sentence-transformers
langchain_openai


aiofiles
crawl4ai
gradio_calendar 
pdfplumber>=0.10.3
python-docx>=0.8.11
numexpr
numpy==1.26.4
